body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board h1 {
  text-align: center;
}

.board h2 {
  text-align: center;
}

.board .card {
  height: 80px;
  line-height: 80px;
  background-color: #fbb825;
  font-size: 3em;
  text-align: center;
  vertical-align: baseline;
  margin: 10px;
}

.card.hidden:hover {
  cursor: pointer;
  background-color: #9cd9ec;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.board .hidden {
  background-color: lightblue;
}

.removed {
  visibility: hidden;
}
